*{
    margin: 0;
    padding: 0;
}

.title{
    padding-top: 2em;
    text-align: center;
}

.container{
    padding-top: 5em;
}

.rowBox{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
input{
    border-style: none;
    border-bottom: 0.05em solid rgb(22, 22, 22);
}
.addButton{
    border-radius: 50%;
    border-width: 0.05em;
    width: 1.5em;
    height: 1.5em;  
}

.columnBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.savedList{
    font-weight: bold;
    
}

ul li{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    text-align: center;
}

ul li span{
    position: absolute;
    text-align: center;
    font-size: small;
    
    background-color: rgb(255, 255, 255);
    color: white;
    border-radius: 0.2em;
    margin-left: 0.5em;
}

ul li span:hover{
    background-color: rgb(222, 222, 222);
    color: white;
}

textarea:focus, input:focus{
    outline: none;
}