*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flexRow{
    flex-direction: row;
    
}

.flexColumn{
    flex-direction: column;
}



.title{
    padding-top: 2em;
    text-align: center;
}

.container{
    justify-content: center;
    display: flex;
    align-items: center;
    

    padding-top: 5em;
}

.addButton{
    border-radius: 50%;
    border-width: 0.05em;
    width: 1.5em;
    height: 1.5em;
    
}

.savedList{
    
}
.to-do{
    
}

ul li{
    padding-top: 1em;
}

ul li span{
    position: absolute;
    text-align: center;
    font-size: small;
    
    background-color: rgb(172, 172, 172);
    color: white;
    border-radius: 0.2em;
    margin-left: 0.5em;
}

ul li span:hover{
    background-color: rgb(71, 71, 71);
    color: white;
}
p{
    color: rgb(0, 0, 0);
}

input{
    border-style: none;
    border-bottom: 0.05em solid rgb(22, 22, 22);
}